{
    "extends": "eslint:recommended",

    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "objectLiteralShorthandMethods": true,
        "restParams": true,
        "spread": true,
        "templateStrings": true
    },

    "rules": {
        "no-var": [1],
        "space-unary-ops": [1, {"words": true, "nonwords": true}],
        "space-infix-ops": [1],
        "one-var": [1, {"const": "never", "let": "never"}],
        "max-len": [1, 80],
        "indent": [1, 4, {"SwitchCase": 1}]
    }
}